.listItem {
  cursor: pointer;
  user-select: none;
  color: #111;
  background-color: #d5d5d5;
}

.text {
  user-select: none;
}

.input {
  user-select: text;
}

.active {
  background-color: #bebebe;
}
