.buttonsContainerRight {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(calc(100% + 14px), -50%);
  display: flex;
  flex-direction: column;
  /* gap: 0.1rem; */
  z-index: 20;
}

.buttonsContainerLeft {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - 14px), -50%);
  display: flex;
  flex-direction: column;
  /* gap: 0.1rem; */
  z-index: 20;
}

.btnSmallCommon {
  white-space: nowrap;
  z-index: 10;
  font-size: 11px;
  padding: 0.15rem 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 3;
}

.btnSmallCommon svg {
  margin-left: 3;
}

.btnSmallCommon:last-child svg {
  margin-top: 1px;
}

.scrollButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  border: none;
  z-index: 10;
  user-select: none;
  /* font-size: 14px; */
  padding: 0.18rem;
  color: #000;
}

.scrollButtonLeft {
  left: 0;

  border-radius: 0 0.25rem 0.25rem 0;
}

.scrollButtonRight {
  right: 0;
  border-radius: 0.25rem 0 0 0.25rem;
}

.fileTypeShortBox {
  width: 50;
  height: 60;
  border-radius: 0.25rem;
  background-color: #a5a5a5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14;
  color: #555;
  text-align: center;
  padding: 4;
  user-select: none;
  /* white-space: normal; */
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
